<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理系统</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.mobile.css}"/>
    <script th:src="@{/jquery/jquery-3.4.1.min.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<h2>Hello Tablet!</h2>
<script th:src="@{/layui/layui.js}" charset="UTF-8"></script>
</body>
</html>