.menuUlTab{display:none;}
#tab_right{display: none;width: 80px;position: absolute;top: 35px;left: 0;}
#tab_right dl{top: 0;}
.x-iframe{width:100%;border:0;}
.layui-tab-title .home .layui-tab-close{display:none;}